<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Items Table</title>
  </head>

  <body style="font-family: Inter, sans-serif">
    <div class="mb-4 flex items-center justify-between">
      <header class="title"></header>
      <time class="date"></time>
      <p class="pageNumber"></p>
      <p class="totalPages"></p>
    </div>
    <table class="min-w-full border-collapse border border-slate-500">
      <thead class="bg-indigo-950 text-white">
        <tr>
          <th
            scope="col"
            class="border border-slate-400 px-3 py-3.5 text-left text-sm font-semibold text-gray-400"
          >
            #
          </th>
          <th
            scope="col"
            class="whitespace-nowrap border border-slate-400 px-3 py-3.5 text-left text-sm font-semibold"
          >
            Item Name
          </th>
          <th
            scope="col"
            class="whitespace-nowrap border border-slate-400 px-3 py-3.5 text-left text-sm font-semibold"
          >
            Item Type
          </th>
          <th
            scope="col"
            class="whitespace-nowrap border border-slate-400 px-3 py-3.5 text-left text-sm font-semibold"
          >
            Price
          </th>
          <th
            scope="col"
            class="whitespace-nowrap border border-slate-400 px-3 py-3.5 text-left text-sm font-semibold"
          >
            Description
          </th>
          <th
            scope="col"
            class="whitespace-nowrap border border-slate-400 px-3 py-3.5 text-left text-sm font-semibold"
          >
            Item Id
          </th>
          <th
            scope="col"
            class="whitespace-nowrap border border-slate-400 px-3 py-3.5 text-left text-sm font-semibold"
          >
            Created By
          </th>
          <th
            scope="col"
            class="whitespace-nowrap border border-slate-400 px-3 py-3.5 text-left text-sm font-semibold"
          >
            Created At
          </th>
          <th
            scope="col"
            class="whitespace-nowrap border border-slate-400 px-3 py-3.5 text-left text-sm font-semibold"
          >
            Updated At
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each data}}
        <tr>
          <td
            class="whitespace-nowrap border border-slate-400 px-3 py-4 text-sm font-medium text-gray-900"
          >
            {{increment @index}}
          </td>
          <td
            class="whitespace-nowrap border border-slate-400 px-3 py-4 text-sm capitalize text-gray-900"
          >
            {{ this.name }} {{#if this.validity}}
            <p class="mt-1 text-xs text-slate-500">
              Training Validity : {{ this.validity }} Days
            </p>
            {{/if}}
          </td>
          <td
            class="whitespace-nowrap border border-slate-400 px-3 py-4 text-sm capitalize text-gray-900"
          >
            {{ this.type }}
          </td>
          <td
            class="whitespace-nowrap border text-right border-slate-400 px-3 py-4 text-sm capitalize text-gray-900"
          >
            {{formatAmount this.price}}
          </td>
          <td
            class="min-w-80 max-w-80 border border-slate-400 px-3 py-4 text-xs capitalize text-gray-900"
          >
            {{ this.description }}
          </td>
          <td
            class="whitespace-nowrap border border-slate-400 px-3 py-4 text-sm font-medium text-gray-900"
          >
            {{ this.id }}
          </td>
          <td
            class="whitespace-nowrap border capitalize border-slate-400 px-3 py-4 text-sm font-medium text-gray-900"
          >
            {{ this.user.name }} | Admin
          </td>
          <td
            class="whitespace-nowrap border border-slate-400 px-3 py-4 text-sm uppercase text-gray-900"
          >
            {{format this.createdAt}}
          </td>
          <td
            class="whitespace-nowrap border border-slate-400 px-3 py-4 text-sm uppercase text-gray-900"
          >
            {{format this.updatedAt}}
          </td>
        </tr>
        {{/each }}
      </tbody>
    </table>
  </body>
</html>
